header {
    text-align: center;
    color: salmon;
    border: 50px ridge pink;
}
li {
   border: 20px solid black;
   padding: 16px;
   margin: 10px;
   box-sizing: border-box;
   text-align: center;
   list-style: none;
}

/* Cookie styles */
.tm {
    background-color: cadetblue;
}
.coco {
    background-color: cornsilk;
    border-color: darkgoldenrod;
}